* {
  margin: 0;
}
body {
  margin: 0;
  font-family: 'Dosis', Helvetica, Arial, sans-serif;
  color: #fff;
  font-size: 20px;
  background-color: #222;
  letter-spacing: 1px;
  min-width: 320px;
}

li {
  list-style: none;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 50px;
  color: #fff;
}

.wrap {
  width: 100%;
  height: 100vh;
  position: relative;
}

.see-the {
  padding-top: 10px;
}

.hello {
  position: absolute;
  left: 50%;
  top: 40%;
  width: 320px;
  margin-left: -160px;
  margin-top: -30px;
  padding: 20px;
  transition: all .5s;
  display: flex;
  z-index: 101;
}

.hello.move {
  animation: trans 1.2s 1s  forwards;
  cursor: pointer;
}

@media (max-width: 678px) {
  .hello.move {
    animation: transMob 1.2s 1s forwards;
  }

  .hello {
    display: flex;
    justify-content: center;
  }
}

.item {
  transition: all .5s;
  display: block;
  cursor: pointer;
}

.item svg path {
  transition: all .5s;
}
.item:hover svg path {
  stroke: #f05868;
  // animation: strokeColor 3s infinite;
}
.item.collapse {
  overflow: hidden;
  max-height: 100px;
  animation: collapse 1s forwards;
}

.voice {
  font-size: 48px;
}

.list {
  margin: 0;
  padding-left: 8px;
}
.equalizer {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: calc(100vh - 60px);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.spectrum {
  box-sizing: border-box;
  transform: translateZ(0);
  height: 100%;
}

.spectrum .bar {
  background-color: transparent;
  position: absolute;
  bottom: 50%;
  left: 50%;
  height: 50px;
  width: 1px;
  transform: translateZ(0);
  will-change: transform;
  transform-origin: 50% 100%;
}

.play, .rec {
  z-index: 10;
  border: rgba(255,255,255,.5);
  background-color: transparent;
  padding: 50px;
  color: #fff;
  outline: none;
  transition: all .5s;
  display: none;
  cursor: pointer;
  font-size: 20px;
  font-family: 'Dosis', Helvetica, Arial, sans-serif;
  font-size: 20px;
  letter-spacing: 1px;
  margin-top: 50px;
  border-radius: 50%;
}


.play:hover, 
.rec:hover {
  color: #a3ff99;
  animation: color 4s infinite;
}

.intro {
  z-index: 100;
  position: absolute;
  left: 0;
  right: 0;
  bottom:0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.upload {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 100px;
  opacity: 0;
  animation: opa .8s 2s forwards;
  transition: all .3s;
  display: none;
}

.upload .text {
  color: #fff;
  text-align: center;
  line-height: 1.5;
  transition: color .3s;
}

.upload:hover .text {
  color: #a3ff99;
  animation: color 4s .3s infinite;
}

.text--bottom {
  margin-bottom: 1em;
}

label {
  cursor: pointer;
}

.file {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}
.upload .file-open svg path,
.upload .file-open svg circle{
  transition: all .5s;
}
.upload:hover .file-open svg path, 
.upload:hover .file-open svg circle {
  stroke: #a3ff99;
  animation: strokeColor 4s .3s infinite;
}

.mp3 {
  display: none;
}

// .rec {
//   font-family: 'Dosis', Helvetica, Arial, sans-serif;
//   font-size: 20px;
//   letter-spacing: 1px;
//   margin-top: -.5em;
//   border-radius: 50%;
//   // display: none;
// }

.record {
  position: absolute;
  top: 40px;
  left: 0;
  right: 0;
  width: 100%;
  text-align: center;
  opacity: 0;
  transition: all 1s;
}

.record.ap-disap {
  animation: opaopa 7s forwards;
}

@media (max-width: 678px) {
  .record {
    top: 100px;
  }

  .record.ap-disap {
    animation: opaopa 5s 1s forwards;
  }


}

.dis-block {
  display: block;
}

.dis-flex {
  display: flex;
}

.dis-none {
  display: none;
}

.disabled {
  pointer-events: none;
  cursor: default;
}

.clickable {
  cursor: pointer;
}

.appear {
  animation: opa 1s 1.5s forwards;
}


.disappear {
  animation: disappear 1s forwards;
}

svg path {
  transition: all .1s;
}

.see-the__s {
  stroke-dasharray: 60;
  stroke-dashoffset: 60;
  animation: dash .3s 1.5s linear forwards;
}

.see-the__ee {
  stroke-dasharray: 170;
  stroke-dashoffset: 170;
  animation: dash .7s 1.8s linear forwards;
}

.see-the__t {
  stroke-dasharray: 80;
  stroke-dashoffset: 80;
  animation: dash .3s 2.5s linear forwards;
}
.see-the__he {
  stroke-dasharray: 220;
  stroke-dashoffset: 220;
  animation: dash .7s 2.8s linear forwards;
}

.sound {
  stroke-dasharray: 560;
  stroke-dashoffset: 560;
  animation: dash 2s 3.5s linear forwards;
}

.voice__v {
  stroke-dasharray: 51;
  stroke-dashoffset: 51;
  animation: dash .2s 5.5s linear forwards;
}

.voice__o {
  stroke-dasharray: 64;
  stroke-dashoffset: 64;
  animation: dash .2s 5.7s linear forwards;
}

.voice__i {
  stroke-dasharray: 63;
  stroke-dashoffset: 63;
  animation: dash .1s 5.9s linear forwards;
}

.voice__ce {
  stroke-dasharray: 82;
  stroke-dashoffset: 82;
  animation: dash .3s 5.9s linear forwards;
}



@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}


@keyframes opa {
  to {
    opacity: 1;
  }
}

@keyframes opaopa {
  0% { opacity: 0; }
  20% { opacity: 1; }
  80% { opacity: 1; }
  100% { opacity: 0; }
}

@keyframes disappear {
  to {
    opacity: 0;
  }
}

@keyframes trans {
  to {
    margin-left: 0;
    margin-top: 0;
    top: 0;
    left: 0;
  }
}

@keyframes transMob {
  to {
    margin-top: 0;
    top: 0;
  }
}



@keyframes strokeColor {
  0% {stroke: #86ff40} /*green*/
  20% {stroke: #97fcf9} /*sky*/
  40% {stroke: #ffff99} /*yellow*/
  60% {stroke: #ffe241} 
  80% {stroke: #f05868} /*orange*/
  100% {stroke: #a3ff99} /*green*/
}

@keyframes strokeColorrr {
  0% {stroke: #86ff40; stroke-dashoffset: 0;} /*green*/
  20% {stroke: #97fcf9; stroke-dashoffset: 0;} /*sky*/
  40% {stroke: #ffff99; stroke-dashoffset: 0;} /*yellow*/
  60% {stroke: #ffe241; stroke-dashoffset: 0;} 
  80% {stroke: #f05868; stroke-dashoffset: 0;} /*orange*/
  100% {stroke: #a3ff99; stroke-dashoffset: 0;} /*green*/
}

@keyframes color {
  0% {color: #86ff40}
  20% {color: #97fcf9}
  40% {color: #ffff99}
  60% {color: #ffe241}
  80% {color: #f05868}
  100% {color: #a3ff99}
}

@keyframes collapse {
  from {
    max-height: 100px;
    opacity: 1;
    transform: scale(1);
    }
  to {
      max-height: 0px;
      opacity: 0;
       transform: scale(0);
    }
}